#naver ul ul {
	display: none;
	
}

	#naver ul li:hover > ul {
		display: block;
		   

	}
	
	
#naver ul {
	
	padding:0px; 
	list-style: none;
	display: inline-table;
    float:right;
	margin-right:30px;
	position: relative;
	
}
	#naver ul:after {
		content: ""; clear: both; display: block;
	}
	
	
#naver ul li {
	float: left;
	position: relative;
}
	#naver ul li:hover {
		background: #4b545f;
		background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
	    cursor:pointer;
		border-radius:4px 4px 0px 0px;
	}
		#naver ul li:hover a {
			color: #fff;
			
		}
	
	#naver ul li a {
		display: block; padding: 5px 10px;
		color: #757575; text-decoration: none;
		font-size:14px;
		min-width:75px;
	}
	
	
	
#naver ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	#naver ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}
		#naver ul ul li a {
			padding: 5px 10px;
			color: #fff;
		}	
			#naver ul ul li a:hover {
				background: #4b545f;
			}
			
			
#naver ul ul ul {
	position: absolute; left: 100%; top:0;
}



#secondnav ul ul {
	display: none;
	width:300px;
	
}

	#secondnav ul li:hover > ul {
		display: block;
		   

	}
	
	
#secondnav ul {
	padding:0px; 
	list-style: none;
	display: inline-table;
	float:right;
	margin-right:0px;
}
	#secondnav ul:after {
		content: ""; clear: both; display: block;
	}
	
	
#secondnav ul li {
	float: left;
	position:relative;
}
	#secondnav ul li:hover {
		background: #4b545f;
		background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
	    cursor:pointer;
        border-radius:4px 4px 0px 0px;
	}
		#secondnav ul li:hover a {
			color: #fff;
			
		}
	
	#secondnav ul li a {
		display: block; padding: 5px 10px;
		color: #757575; text-decoration: none;
		font-size:14px;
	}
	
	
	
#secondnav ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	#secondnav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}
		#secondnav ul ul li a {
			padding: 10px 20px;
			color: #fff;
		}	
			#secondnav ul ul li a:hover {
				background: #4b545f;
			}
			
			
#secondnav ul ul ul {
	position: absolute; left: 100%; top:0;
}



#spacer{
margin-right:300px;
margin-top:0px;
}

#thirdnav ul ul {
	display: none;
	
	
}

	#thirdnav ul li:hover > ul {
		display: block;
		
		   

	}
	
	
#thirdnav ul {
	padding:0px; 
	list-style: none;
	display: inline-table;
	position:relative;

}
	#thirdnav ul:after {
		content: ""; clear: both; display: block;
	}
	
	
#thirdnav ul li {
	float: left;
	position:relative;
}
	#thirdnav ul li:hover {
		
		background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
	    cursor:pointer;
		position:relative;

	}
		#thirdnav ul li:hover a {
			color: #fff;
			
		}
	
	#thirdnav ul li a {
		display: block; padding: 5px 10px;
		background-color: #444; text-decoration: none;
		
	}
	
	
	
#thirdnav ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}
	#thirdnav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}
		#thirdnav ul ul li a {
			padding: 6px 95px;
			color: #fff;
		}	
			#thirdnav ul ul li a:hover {
				background: #4b545f;
			}
			
			
#thirdnav ul ul ul {
	position: absolute; left: 100%; top:0;
}

#messnav ul ul {
	display: none;
	
	
	
}

	#messnav ul li:hover > ul {
		display: block;
		   

	}
	
	
#messnav ul {
	padding:0px; 
	list-style: none;
	display: inline-table;
	float:right;
	margin-right:0px;
	position:relative;
	
}
	#messnav ul:after {
		content: ""; clear: both; display: block;
	}
	
	
#messnav ul li {
	float:left;
	position:relative;
}
	#messnav ul li:hover {
		background: #4b545f;
		background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
	    cursor:pointer;
        border-radius:4px 4px 0px 0px;
	}
		#messnav ul li:hover a {
			color: #fff;
			
		}
	
	#messnav ul li a {
		display: block; padding: 5px 10px;
		color: #757575; text-decoration: none;
		font-size:14px;
	}
	
	
	
#messnav ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
	max-width:170px;
}
	#messnav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		
	}
		#messnav ul ul li a {
			padding: 10px 20px;
			color: #fff;
		}	
			#messnav ul ul li a:hover {
				background: #4b545f;
			}
			
			
#messnav ul ul ul {
	position: absolute; left: 100%; top:0;
}


